# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Database
*.sqlite3

# Django secret key
.env

# Static and media files
staticfiles/
media/

# VSCode settings
.vscode/

# Additional files
.DS_Store
